* {
	padding: 0;
	margin: 0;
}

.card {
	margin-bottom: 200px;
}
.title {
	text-align: center;
	margin-bottom: 100px;
}
.card-img-top {
	width: 100%;
	height: 100%;
}
.btn-warning{
	padding: 10px 30px;
}
.total {
	font-size: 30px;
	font-weight: bold;
	padding-bottom: 300px;
}
